<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/edaf_front.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand" href="{{ path('nav') }}">LOGO</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse row" id="navbarColor01">

                      <div class="col-md-2"></div>

                        <ul class="navbar-nav mr-auto col-md-4 col-sm-6">
                      {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_login') }}" class="nav-link">CONNEXION

                            </a>
                          </li>
                          {% else %}
                          <li class="nav-item">
                              <a class="nav-link" href="{{ path('security_logout') }}" class="nav-link">DECONNEXION
  
                              </a>
                            </li>
                          {% endif %}
                          </ul>

                      <ul class="navbar-nav mr-auto col-md-4 col-sm-6">

                        <li class="nav-item">
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path('nav') }}">BOUTIQUE</a>
                        </li> 
                          <a class="nav-link" href="{{ path('profile') }}">PROFILE<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path('panier') }}">PANIER</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path('contact') }}">CONTACTER-NOUS</a>
                        </li>
                        
                      </ul>

                      
                    </div>

                    
            </nav>
          
            <!-- <div class="container">-->
               {% block body %}{% endblock %}
             <!--</div>-->

        {% block javascripts %}{% endblock %}
    </body>
</html>
