{% extends 'base.html.twig' %}


{% block body %}

<p id="titre">Bienvenue sur notre boutique</p>

<div class="content">

<div class="display_pdt">
       <img src="{{ asset('img/m.jpg') }}" alt="" />
       <p>ffffffffghhhhhhhhhhh Prix:5000$</p>
    </div>

<div class="display_pdt">
        <img src="{{ asset('img/') }}" alt="" />
    
    </div>

<div class="display_pdt">
         <img src="{{ asset('img/') }}" alt="" />
    </div>

<div class="display_pdt">
          <img src="{{ asset('img/') }}" alt="" />
    </div>
   
<div class="display_pdt">
           <img src="{{ asset('img/') }}" alt="" />
    </div>
 
<div class="display_pdt">
            <img src="{{ asset('img/') }}" alt="" />
    </div>

<div class="display_pdt">
            <img src="{{ asset('img/') }}" alt="" />
    </div>
<div class="display_pdt">
            <img src="{{ asset('img/') }}" alt="" />
    </div>
        
  

</div>

{% endblock %}
